body {
    background-color:gainsboro;
}

legend {
    font-size: large;
    font-weight: bold;
    background-color:darkcyan;
}

h1 {
    font-size:xx-large;
    font-weight: bold;
    
}

fieldset {
    border: 2px solid;
    background-color: honeydew;
}

